:root {
  --border-radius: 8px;
  --p-font-size: 16px;
  --h3-font-size: 22px;
}
html {
  background-color: #d5e1ef;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Outfit", sans-serif;
  padding: 20px;
}
body {
  margin: 0;
  padding: 0;
  justify-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  width: 100%;
  max-width: 320px;
  height: auto;
  margin: 0 auto;
  padding: 15px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius);
}
.qr-image {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
  border-radius: var(--border-radius);
}
.qr-text {
  text-align: center;
  font-family: "Outfit", sans-serif;
  margin: 0 7px;
}
.qr-text h3 {
  font-size: var(--h3-font-size);
  color: #1f314f;
}
.qr-text p {
  font-size: var(--p-font-size);
  color: #68778d;
}
.attribution {
  font-size: 11px;
  text-align: center;
  position: relative;
  margin-top: 10px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 375px) {
  html {
    padding: 10px;
  }
  .container {
    max-width: 80%;
    width: 100%;
    margin: 10px 0;
    padding: 12px;
  }
  h1 {
    font-size: 1em;
  }
  p {
    font-size: 0.7em;
  }
}
